body {
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;

  display: flex; /* enabling flex*/
  flex-direction: column;
  min-height: 100vh; /* take up 100% of the viewport height (browser's height)*/
}

.main-content {
  flex-grow: 1; /*the main content should take up the remaining space*/
}
#card-of-links {
  position: absolute;
  top: 17em;
  left: 37em;
  width: 605px;
  margin: 16px auto;
  border: 1px solid, #eeeeee;
  box-shadow: 1px 1px 2px 3px #ccc;
  padding: 16px;
  text-align: center;
}
#web-developer {
  text-align: end;
  margin: 0;
  padding: 12px;
  color: darkseagreen;
}
#card-of-links ul li {
  list-style-type: none;
  text-decoration: none;
  text-align: end;
  margin: 0;
  padding: 12px;
}
footer {
  color: #888888;
  border-top: 1px solid #eeeeee;
  margin-top: 16px;
  padding: 16px 0;
}

header {
  margin-top: 16px;
  margin-bottom: 48px;
}

h1 {
  margin-bottom: 16px;
  font-size: 64px;
}

header a {
  color: #888888;
  margin-right: 16px;
  text-decoration: none;
}

.portrait {
  width: 250px;
}

input {
  border: 1px solid, #cccccc;
  padding: 8px;
}

button {
  border: 1px, solid, #888888;
  cursor: pointer;
  background: #888888;
  color: white;
  padding: 8px;
}
